
body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
  }
  
  /* function to ensure the heading is in the center */
  .container {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f0f8ff; 
  }
  
  /* Styling the heading */
  h1 {
    font-size: 2rem;
    color: black;
    margin-bottom : 20px;
  }
  
  /*styling for the drop down boxes*/
  .input-wrapper, .output-wrapper {
    display: flex;
    gap: 15px; 
    justify-content: center; 
    margin-bottom: 20px; /* provides a gap between both drop down boxes*/
    margin-top: 20px;
  }

  #convert-button, #reset-button{
    margin-bottom: 10px;
  }